django
django-environ # for env: https://github.com/joke2k/django-environ
psycopg[binary,pool] # database connection: https://github.com/psycopg/psycopg

# Develop

ruff # linter: https://github.com/astral-sh/ruff